<section class="container d-flex flex-column  align-items-center espacamento__vertical alinhar__vertical">

  <div class="d-flex flex-column flex-md-row flex-wrap gap-2">

    <div class="d-flex flex-column box__empresa">
      <h2 class="item01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_01"
        aria-controls="offcanvasRight">
        PHD Engenharia<br/>.
      </h2>
      <h3>Coordenador de planejamento</h3>
      <h3>DEZ. 2023 – DEZ 2023 </h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_01"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>MKS Soluções integradas<br/>.</h2>
      <h3>Coordenador de obras</h3>
      <h3>Abr 2022 – Dez 2023 </h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_02"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Mapa Ambiental Engenharia e sustentabilidade</h2>
      <h3>Engenheiro</h3>
      <h3>Jan. 2017 – Abr. 2022</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_03"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Senai ( Serviço Nacional de Aprendizagem Industrial )</h2>
      <h3>Professor</h3>
      <h3>Nov. 2016 - Jan. 2017</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_04"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Comitê Olímpico Rio 2016</h2>
      <h3>Coordenador de obras</h3>
      <h3>Jan. 2016 - Nov. 2016</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_05"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Estaleiro Enseada</h2>
      <h3>Coordenador de obras</h3>
      <h3>Jan. 2013 – Jun. 2015</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_06"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Consórcio Rio Paraguaçu</h2>
      <h3>Coordenador de obras</h3>
      <h3>Jun. 2010 – Dez. 2012 </h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_07"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Thyssenkrupp - Alto Forno</h2>
      <h3>Engenheiro</h3>
      <h3>Jun. 2008 – Jun. 2010</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_08"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Estaleiro Mauá Jurong</h2>
      <h3>Planejador</h3>
      <h3>Jun. 2002 – Mai. 2008</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_09"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>



  </div>


</section>


<div class="offcanvas offcanvas-end" tabindex="-1" id="empresa_01" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">PHD Engenharia</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <p class="text-justify">
      Coordenando duas plantas (Paulinia e Jundiaí), desenvolvendo o planejamento da Obra (Cronograma, EAP, Programação e implementando o sistema de LPS).
    </p>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="empresa_02" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">MKS Soluções Integradas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <p class="text-justify">Coordenou a planta de serviços adicionais da Redução
    desenvolvendo negócios e trazendo projetos para a OS alcançando todas as metas financeiras, operacionais e de
    segurança.</p>

    <ul>
    <li class="text-justify">
    Coordenou a execução do projeto para a reforma e reativação de um dos principais sistemas de fabricação de
    Alumínio da empresa Alumar liderando as equipes de elétrica e mecâmica com um valor agregado de R$4M.Gerenciou o
    planejamento e a execução de Cronograma, programação e acompanhamento em campo.
    </li>
    <li class="text-justify">
    Gerenciou a montagem de todas as atividades de elétrica e mecânica dos projetos da OS.
    </li>
    <li class="text-justify">
    Gerenciou a equipe de Engenharia na elaboração de listas de material e as built.
    </li>
    <li class="text-justify">
    Coordenou a equipe de medição.
    </li>
    <li class="text-justify">
    Gerenciou as equipes de comissionamento de todos os sistemas e subsistemas.
    </li>
  </ul>
  </div>
</div>
