<section class="container  espacamento__vertical">

  <h2 class="pt-3">Experiência Profissional</h2>

  <div class="d-flex flex-column flex-md-row flex-wrap pt-3 pb-2 gap-2">

    <div class="d-flex flex-column box__empresa">
      <h2 class="item01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_01"
        aria-controls="offcanvasRight">
        PHD Engenharia<br/>.
      </h2>
      <h3>Coordenador de planejamento</h3>
      <h3>DEZ. 2023 – DEZ 2023 </h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_01"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>MKS Soluções integradas<br/>.</h2>
      <h3>Coordenador de obras</h3>
      <h3>Abr 2022 – Dez 2023 </h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_02"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Mapa Ambiental Engenharia e sustentabilidade</h2>
      <h3>Engenheiro</h3>
      <h3>Jan. 2017 – Abr. 2022</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_03"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Senai ( Serviço Nacional de Aprendizagem Industrial )</h2>
      <h3>Professor</h3>
      <h3>Nov. 2016 - Jan. 2017</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_04"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Comitê Olímpico Rio 2016</h2>
      <h3>Coordenador de obras</h3>
      <h3>Jan. 2016 - Nov. 2016</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_05"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Estaleiro Enseada</h2>
      <h3>Coordenador de obras</h3>
      <h3>Jan. 2013 – Jun. 2015</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_06"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Consórcio Rio Paraguaçu</h2>
      <h3>Coordenador de obras</h3>
      <h3>Jun. 2010 – Dez. 2012 </h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_07"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Thyssenkrupp - Alto Forno</h2>
      <h3>Engenheiro</h3>
      <h3>Jun. 2008 – Jun. 2010</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_08"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>

    <div class="d-flex flex-column box__empresa">
      <h2>Estaleiro Mauá Jurong</h2>
      <h3>Planejador</h3>
      <h3>Jun. 2002 – Mai. 2008</h3>
      <button class="btn btn_01" type="button" data-bs-toggle="offcanvas" data-bs-target="#empresa_09"
        aria-controls="offcanvasRight">
        <h3>detalhes</h3>
      </button>
    </div>



  </div>


</section>


<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_01" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">PHD Engenharia</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">
      Coordenando duas plantas (Paulinia e Jundiaí), desenvolvendo o planejamento da Obra (Cronograma, EAP, Programação e implementando o sistema de LPS).
    </p>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_02" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">MKS Soluções Integradas</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <p class="text-justify">Coordenou a planta de serviços adicionais da Redução
    desenvolvendo negócios e trazendo projetos para a OS alcançando todas as metas financeiras, operacionais e de
    segurança.</p>

    <ul>
    <li class="text-justify">
    Coordenou a execução do projeto para a reforma e reativação de um dos principais sistemas de fabricação de
    Alumínio da empresa Alumar liderando as equipes de elétrica e mecâmica com um valor agregado de R$4M.Gerenciou o
    planejamento e a execução de Cronograma, programação e acompanhamento em campo.
    </li>
    <li class="text-justify">
    Gerenciou a montagem de todas as atividades de elétrica e mecânica dos projetos da OS.
    </li>
    <li class="text-justify">
    Gerenciou a equipe de Engenharia na elaboração de listas de material e as built.
    </li>
    <li class="text-justify">
    Coordenou a equipe de medição.
    </li>
    <li class="text-justify">
    Gerenciou as equipes de comissionamento de todos os sistemas e subsistemas.
    </li>
  </ul>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_03" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Mapa Ambiental Engenharia e sustentabilidade</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Responsável técnico da empresa, desenvolvendo projetos e elaborando os documentos técnicos de engenharia das plantas solares totalizando mais de 10MW instalados com sucesso.
      Desenvolveu o planejamento e procurement e coordenou a execução e logística de montagens dos sistemas solares fotovoltaicos mitigando problemas devido a díficil localização das instalações.
      Programou as manutenções preventivas e corretivas em sistemas solares com coordenação de terceirizados e equipe própria.
      </p>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_04" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Senai ( Serviço Nacional de Aprendizagem Industrial )</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Ministrou curso para formação de eletrotécnicos.
      </p>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_05" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Comitê Olímpico Rio2016</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Coordenou a execução do projeto do escopo elétrico para a realização dos jogos olímpicos e paralympicos Rio 2016.
      </p>
      <ul>
        <li class="text-justify">Gerenciou a construção e o comissionamento das Subestações para a Arena da Juventude.</li>
        <li class="text-justify">Desenvolveu o projeto de energia temporária para a realização dos jogos olímpicos na Arena da Juventude.</li>
        <li class="text-justify">Gerenciou a montagem de todas as atividades para a realização dos jogos olímpicos na Arena da Juventude.</li>
        <li class="text-justify">Liderou o estudo de carga para a Arena da Juventude.</li>
        <li class="text-justify">Coordenou a equipe de manutenção durante jogos olímpicos e paralímpicos na arena da juventude e estádio olímpico de Deodoro</li>
      </ul>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_06" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Estaleiro Enseada</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Coordenou a execução do projeto para o fornecimento dos principais sistemas elétricos (Força, Geração, Propulsão, Automação & Instrumentação) para seis Drilships, com um valor agregado de US$500M.
      </p>
      <ul>
        <li class="text-justify">Gerenciou a transferência de tecnologia, interface técnica, compra, fabricação, comissionamento e atividades de logísticas para a GE, Catterpillar e Kawasaki em operações no Brasil.</li>
        <li class="text-justify">Melhorou o processo de teste de aceitação de fábrica para Geradores, Transformadores, Painéis de alta tensão, Painéis de baixa tensão e Painéis dos propulsores, evitando perdas de US$30M.</li>
        <li class="text-justify">Mapeou todo o processo de entrega do fornecedor e implementou modificações que permitiram atender todas as exigências e reduziu em 20% dos custos com logística.</li>
        <li class="text-justify">Desenvolveu o planejamento para o escopo da GE no Brasil melhorando a performance da fábrica e fazendo que as informações se tornassem confiáveis e disponíveis para a cadeia de suprimentos.</li>
      </ul>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_07" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Consórcio Rio Paraguaçu</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Coordenou uma equipe com mais de 100 pessoas, responsável pelo planejamento, produção e comissionamento nas disciplinas de Elétrica, Instrumentação, Telecomunicações e Fogo e Gás para a construção de duas jackup rigs, com um valor de contrato de ~US$1.2B.
      </p>
      <ul>
        <li class="text-justify">Liderou o levantamento de escopo para o SISEPC e participou da construção do cronograma em primavera.</li>
        <li class="text-justify">Liderou as atividades de produção com o foco constante na melhoria continuada; implementou lições aprendidas de experiências anteriores, alcançando os maiores índices de produtividade do projeto e completando 40% das atividades a frente do cronograma.</li>
      </ul>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_08" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Thyssenkrupp</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Coordenou uma equipe com mais de 400 pessoas e foi responsável pelo planejamento e produção das atividades para a construção de dois alto fornos.
      </p>
    <ul>
      <li class="text-justify">Gerenciou o planejamento para o escopo de elétrica e instrumentação.</li>
      <li class="text-justify">Implementou uma metodologia para o gerenciamento de interface técnica com o maior fornecedor (Paul Wurt) que permitiu a identificação de muitos gaps críticos do projeto básico; negociou a inclusão de ~US$5M de ganho para a companhia.</li>
      <li class="text-justify">Implementou um processo de seleção de materiais e preparação para o lançamento de mais de 1 milhão de metros de cabos melhorando a produtividade em mais de 40%.</li>
      <li class="text-justify">Liderou a manutenção das Subestações da rede de média tensão do complexo Thyssenkrup.</li>
    </ul>
  </div>
</div>

<div class="offcanvas offcanvas-end offcanvas__color" tabindex="-1" id="empresa_09" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasRightLabel">Estaleiro Mauá Jurong</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-justify">Planejador</p>
    <p class="text-justify">Realizou o planejamento das disciplinas de Elétrica, Instrumentação,Telecomunicações e Fogo e gás para a construção de duas FPSOs e uma jack-up rig.
      </p>
    <ul>
      <li class="text-justify">Desenvolveu cronograma, EAP, histograma, análise de risco,plano de mitigação.</li>
      <li class="text-justify">Liderou a medição física e financeira.</li>
     </ul>
     <p class="text-justify">Técnico de Manutenção</p>
     <ul>
      <li class="text-justify">Desenvolveu e implementou o primeiro plano de manutenção preventiva e preditiva do Estaleiro Mauá reduzindo em mais de 95% a queima de motores , mais de 90% as falhas de equipamentos e mais de 98% falhas em Subestações de média tensão.</li>
      <li class="text-justify">Desenvolveu e implementou procedimento de segurança para manutenção da rede de baixa e média tensão.</li>
      <li class="text-justify">Automatizou os equipamentos elétricos (Guindastes, pontes rolantes) usando VFDs, soft start and PLCs, reduzindo tempo de manutenção e melhoria na eficiência do equipamento</li>
     </ul>
  </div>
</div>
