.espacamento__vertical {
  padding-top: 70px;
  padding-bottom: 60px;
}

.btn_01 {
  background-color: var(--cor-de-fundo-02);
  color: var(--cor-de-fundo-04);
  align-items: center !important;

}

.btn>h3 {
  margin-bottom: 0;
}

.btn_01:hover {
  background-color: var(--cor-de-fundo-04);
  color: var(--cor-de-fundo-02);
  align-items: center !important;
}

.box__empresa {
  width: 100%;
}

.text-justify {
  text-align: justify;
}

.offcanvas__color {
  background-color: var(--cor-de-fundo-01);
  color: var(--cor-de-fundo-04);
}

@media (min-width: 768px) {
  .box__empresa {
    width: 48%;
  }

  .alinhar__vertical {
    justify-content: center;
    height: 100vh;
  }
 }

 @media (min-width: 1200px) {
  .box__empresa {
    width: 24%;
  }

  }
