<section class=" container vh-100 d-flex flex-column flex-md-row align-items-center
justify-content-evenly">

  <section class="d-flex flex-column text-center align-items-center">

    <div class="mb-2">
      <h1>Paulo Eduardo Antunes</h1>
      <h2>Rio de Janeiro - RJ</h2>
      <div class="fone my-3">
      <div class="zap">
        <h2>(21) 967173362</h2>
      </div>
      <div class="zap">
        <h2>(98) 981534283</h2>
      </div>
    </div>
      <div class="gmail">
        <h2>paulo&#64;gmail.com</h2>
      </div>
    </div>

    <div class="">
      <div class="">
        <h2>Acesse minhas redes:</h2>
      </div>
      <div class="links my-3">

        <a class="dados__de__contato__redesociais__link" href="">
          <img src="../../../../assets/img/linkedin32.png">Linkedin</a>

        <a class="dados__de__contato__redesociais__link" href="">
          <img src="../../../../assets/img/facebook32.png">Facebook</a>

       <a class="dados__de__contato__redesociais__link" href="../../../../assets/Paulo Antunes-ptbr.pdf"
          download="Curriculo_Paulo_Eduardo_Antunes">
          <img src="../../../../assets/img/downloadpdf32.png">PDF</a>
      </div>
    </div>

  </section>

  <section class="d-flex">
    <figure class="">
      <img src="../../../../assets/img/PauloAntunes.jpeg" alt="Minha Foto de Perfil"
        class="foto__02 circulomenor circulomenorTamanho1 circulomenorCordefundo2">
    </figure>

  </section>

</section>
